@import "tailwindcss";

.msgtail::before {
  position: absolute;
  top: -1.5rem;
  right: 0.4rem;
  height: 20px;
  width: 20px;
  background-color: rgb(255, 0, 0);
  transform: rotate(45deg);
  border-left: 1px solid gray;
}
