@import "tailwindcss";

.button-border {
  font-size: 18px;
  color: #000000;
  font-family: inherit;
  font-weight: 800;
  cursor: pointer;
  position: relative;
  border: none;
  background: none;
  text-transform: uppercase;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: color;
}
@keyframes underlineGlow {
  from {
    width: 0%;
    left: 50%;
  }
  to {
    width: 100%;
    left: 0%;
  }
}

.button-border.active:after {
  width: 100%;
  left: 0%;
  animation: underlineGlow 0.4s ease forwards;
  box-shadow: 0 0 6px rgba(20, 71, 230, 0.5);
}

.button-border:hover {
  color: #959595;
}

.button-border:after {
  content: "";
  pointer-events: none;
  bottom: -2px;
  left: 50%;
  position: absolute;
  width: 0%;
  height: 2px;
  background-color: #1447e6;
  transition: width 400ms cubic-bezier(0.25, 0.8, 0.25, 1),
    left 400ms cubic-bezier(0.25, 0.8, 0.25, 1);
}

.button-border:hover:after {
  width: 100%;
  left: 0%;
}

.button-border.active:after {
  width: 100%;
  left: 0%;
}

.msgtail::before {
  position: absolute;
  top: -1.5rem;
  right: 0.4rem;
  height: 20px;
  width: 20px;
  background-color: rgb(255, 0, 0);
  transform: rotate(45deg);
  border-left: 1px solid gray;
}

html {
  scroll-behavior: smooth;
}
